{% extends "base.html"%}

{% load static %}
{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
                <h2 class="text-center mb-4">Registration</h2>
                <form action="{% url 'user:registration'%}" method="post">
                {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_firstName" class="form-label">First name*</label>
                            <input type="text" class="form-control" id="id_firstName"
                                   value = "{% if form.first_name.value %}{{form.first_name.value}}{%endif%}"
                                   name="first_name"
                                   placeholder="Enter your First name" required>

                            {%if form.first_name.errors%}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                            {%endif%}

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_lastName" class="form-label">Last name*</label>
                            <input type="text" class="form-control" id="id_lastName"
                                   value = "{% if form.last_name.value %}{{form.last_name.value}}{%endif%}"
                                   name="last_name"
                                   placeholder="Enter your Last name" required>
                            {%if form.last_name.errors%}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                            {%endif%}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="username" class="form-label">Username*</label>
                            <input type="text" class="form-control" id="username"
                                   value = "{% if form.username.value %}{{form.username.value}}{%endif%}"
                                   name="username"
                                   placeholder="Enter your Username" required>
                            {%if form.username.errors%}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                            {%endif%}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_email" class="form-label">Email*</label>
                            <input type="email" class="form-control" id="id_email"
                                   value = "{% if form.email.value %}{{form.email.value}}{%endif%}"
                                   name="email"
                                   placeholder="Enter your email" required>
                            {%if form.email.errors%}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                            {%endif%}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_password1" class="form-label">Password*</label>
                            <input type="password" class="form-control" id="id_password1"
                                   name="password1"
                                   placeholder="Enter your password" required>
                            {%if form.password1.errors%}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.password1.errors}}</div>
                            {%endif%}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="id_password2" class="form-label">Confirm the password*</label>
                            <input type="password" class="form-control" id="id_password2"
                                   name="password2"
                                       placeholder="Confirm the password" required>
                            {%if form.password2.errors%}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.password2.errors}}</div>
                            {%endif%}
                        </div>
                    </div>
                    <button type="submit"
                            class="btn btn-dark btn-block">Registrate
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}