<!DOCTYPE html>
{% load static %}
{% load goods_tags %}
<link rel="stylesheet" href="{% static 'burgers/css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'burgers/css/my_css.css' %}">


<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="icon" href="{% static 'images/hamburger.png' %}" type="image/x-icon">
    <link rel="stylesheet" id="fname" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<!--    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">-->
  </head>
  <body>
<!--  Nav bar-->
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">NyMyBu</a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% tag_categories as categories%}
              {% for category in categories %}
              <li><a class="dropdown-item" href="{% url 'catalog:index' category.slug %}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li><a class="dropdown-item" href="/basket">Basket</a></li>
              <li><a class="dropdown-item" href="{% url 'users:profile' %}">Personal account</a></li>
              <li><a class="dropdown-item" href="/admin">Admin</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">#</a>
          </li>
        </ul>
      </div>

      <form class="d-flex" role="search" action="{% url 'catalog:search' %}" method="get">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      <a class="nav-item mr-3 nav-link p-3" href="{% url 'users:logout' %}">Logout</a>
      <a class="nav-item mr-3 nav-link p-3" href="{% url 'users:login' %}">Login</a>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>