{% extends "base.html"%} {% load static %}
{% block title %}Catalog{% endblock %}
{% block content %}
<body>
<div class="product-category__header text-center">
	<h1 class="mb-3">Catalog</h1>
    <div class="product-category__subtitle"><h2>All positions</h2></div>
    <div class="product-category__subtitle_2 mt-4"><h4>Here you can find all positions </h4></div>
</div>

<div class="row">


<!--product info-->
{% for product in goods %}
<div class="col-md-4 mb-4">
    <div class="product">
        <div class="card border-primary rounded custom-shadow">
            {% if product.image %}
                <img src="{{product.image.url}}" class="card-img-top" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/Not found image.png'%}" class="card-img-top" alt="...">

            {% endif %}
            <div class="card-body">
                <a href="{% url 'catalog:product' product.slug %}">
                    <p class="card-title">{{product.name }}</p>
                </a>
<!--                <p class="card-text text-truncate">{{product.description}}</p>-->
                <p class="product_id"> id: {{ product.display_id }}</p>
                <div class="d-flex justify-content-between">
                    {% if product.discount%}
                        <p><s>{{ product.price}}</s> $</p>
                        <p><strong>{{ product.sell_price}} $</strong></p>
                        <span class="badge bg-warning text-dark">Discount {{ product.discount }} %</span>
                    {% else %}
                        <p><strong>{{product.price}} $</strong></p>
                    {% endif %}
                    <a href="#" class="btn add-to-cart">
                        <img class="mx-1" src="{% static 'icons/cart-plus.svg' %}" alt="Catalog Icon"
                            width="32" height="32">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

    <!--Pagination-->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">

            <li class="page-item {% if not goods.has_previous %} disabled {% endif %}">
                <a class="page-link " href=" {% if goods.has_previous %}?page={{goods.previous_page_number}}
                 {% else %}
                 #
                 {% endif %}">Previous</a>
            </li>

            {% for page in goods.paginator.page_range %}
            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                <li class="page-item {% if goods.number == page %} active {% endif %}">
                    <a class="page-link" href="?page={{page}}">{{ page }}</a>
                </li>
            {% endif %}
            {% endfor %}


            <li class="page-item {% if not goods.has_next %} disabled {% endif %}">
                <a class="page-link " href=" {% if goods.has_next %}?page={{goods.next_page_number}}
                 {% else %}
                 #
                 {% endif %}">Next</a>
            </li>
        </ul>
</nav>
{% endblock content %}



