{% extends "base.html"%}
{% block title %}About Us{% endblock %}
{% load static %}
{% block content %}
  <section id="about-us">
        <div class="container">
            <h2>About Us</h2>
            <p>Welcome to Imagined Burger Cafe, where we craft delicious and imaginative burgers to satisfy your taste buds. Our journey began with a passion for creating unique culinary experiences that go beyond the ordinary.</p>

            <p>At Imagined Burger Cafe, we believe in using only the finest, freshest ingredients to deliver mouthwatering burgers that captivate your senses. Our chefs are dedicated to pushing the boundaries of flavor, combining classic burger elements with innovative twists that will leave you craving more.</p>

            <p>Whether you're a meat lover or a vegetarian, we have a diverse menu that caters to every palate. Join us on a culinary adventure, where each bite tells a story of creativity and craftsmanship. We take pride in providing a warm and inviting atmosphere, making your dining experience as enjoyable as our burgers are delicious.</p>

            <p>Come and explore the world of Imagined Burger Cafe, where every burger is a masterpiece waiting to be savored. We look forward to serving you and creating memorable moments through the joy of great food!</p>
        </div>
    </section>
{% endblock content %}