{% extends "base.html"%} {% load static %}
{% block title %}Menu{% endblock %}
{% block content %}
<style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        .burger-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 20px;
        }

        .burger {
            width: 30%;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #fff;
            text-align: center;
        }

         img {
            max-width: 200px;  /* Ensure the image does not exceed the width of its container */
            height: 200px;     /* Maintain the aspect ratio */
            width: 100%;      /* Set the width to 100% of its container */
            margin-bottom: 10px;
        }
    </style>
<body>
<div class="burger-container">
        <div class="burger">
            <img src="https://static01.nyt.com/images/2023/07/13/multimedia/13xp-cheese-king/13xp-cheese-king-superJumbo.jpg" alt="Cheeseburger">
            <h3>Cheeseburger</h3>
            <p>A classic burger with a juicy beef patty and melted cheese.</p>
        </div>

        <div class="burger">
            <img src="https://i.pinimg.com/564x/5b/f8/ca/5bf8ca02fc499db71f4b34d86813edf0.jpg" alt="Veggie Burger">
            <h3>Veggie Burger</h3>
            <p>Perfect for vegetarians, a tasty patty made from fresh vegetables.</p>
        </div>

        <div class="burger">
            <img src="https://i.pinimg.com/564x/cc/9a/7f/cc9a7f913081588ba2a16974c91728a0.jpg" alt="Chicken Burger">
            <h3>Chicken Burger</h3>
            <p>Grilled chicken breast topped with fresh lettuce and mayo.</p>
        </div>

        <!-- Add more burger divs as needed -->
    </div>

    <section>
        <p>Choose your favorite burger from our delicious menu!</p>
        <!-- Add more content as needed -->
    </section>
</body>
{% endblock content %}