body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
img {
    max-width: 200px;  /* Ensure the image does not exceed the width of its container */
    height: 200px;     /* Maintain the aspect ratio */
    width: 100%;      /* Set the width to 100% of its container */
    margin-bottom: 10px;
}


.logo {
    height: 50%;
    width: 50%;

}

.burger-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.burger {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}


